<% content_for :head do %>
  <%= stylesheet_link_tag "teach" %>
  <%= javascript_include_tag "teach" %>
<% end %>

<div class="teach-container">
  <div id="banner">
    <div class="banner-bg bg-active" id="banner-bg-1"></div>
    <div class="banner-bg bg-inactive" id="banner-bg-2"></div>
    <div class="white text-shadow text-center banner-text">
      <h1>Share what you know by giving Helpouts</h1><br>
      <h3>Helpouts is a new way to share knowledge and expertise over live video. Connect with customers in a one-on-one video call.</h3>
    </div>
  </div>

  <div class="choice-list">
    <div class="choice">
      <%= image_tag "icon1.png" %>
      <h2 class="green">Live</h2>
      <p>Reach out to your followers around the world in a whole new way.</p>
    </div>

    <div class="choice">
      <%= image_tag "icon2.png" %>
      <h2 class="green">Video</h2>
      <p>Reach out to your followers around the world in a whole new way.</p>
    </div>

    <div class="choice">
      <%= image_tag "icon3.png" %>
      <h2 class="green">Help</h2>
      <p>Reach out to your followers around the world in a whole new way.</p>
    </div>
  </div>
</div>
