<div class="col-md-12 payout" >
  <table class="table table-bordered">

    <thead>
    <tr>
      <th>序号</th>
      <th>客户姓名</th>
      <th>支付宝账号</th>
      <th>提取现金</th>
      <th>申请时间</th>
      <th>处理时间</th>
      <th>处理状态</th>
    </tr>
    </thead>

    <tbody>
    <% @cashes.each do |cash| %>
        <tr>
          <td><%= cash.id %></td>
          <td><%= cash.name %></td>
          <td><%= cash.alipay_account %></td>
          <td><%= cash.sum %></td>
          <td><%= cash.created_at %></td>
          <td>
            <%if !cash.finished %>
            尚未处理
            <% else%>
                <%=cash.updated_at %>
            <% end%>
          </td>
          <td><%= cash.finished %></td>
        </tr>
    <% end %>
    </tbody>

  </table>
</div>
