<%= form_for([:accounts, @course], :html => {:id => 'online_course'}, :remote => true) do |f| %>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= f.text_field :title, :class => "form-control", :placeholder => "请输入标题" %>
            <span class="error_message"></span>
        </div>
        <div class="form-group">
            <%= f.select :category, options_for_select(Course::CATEGORIES), {}, {:class => "form-control"} %>
            <span class="error_message"></span>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <%= f.text_field :start_time, :class => "form-control", :placeholder => "开始时间" %>
                <span class="error_message"></span>
            </div>
            <div class="form-group col-md-6">
                <%= f.text_field :end_time, :class => "form-control", :placeholder => "结束时间" %>
                <span class="error_message"></span>
            </div>
        </div>
        <div class="form-group">
            <%= f.text_field :price, :class => "form-control", :placeholder => "请输入价格" %>
            <span class="error_message"></span>
        </div>
        <!--div class="form-group">
            <%#= f.number_field :students_max, :placeholder => "可容纳学生数量" %>
            <span class="error_message"></span>
        </div-->
    </div>
    <div class="col-md-6">
        <div class="upload_image">
            <img src="<%= @course.image.url %>" class="upload_image" alt="上传图像"/>
            <%= f.file_field :image, :class => "form-control upload_image" %>
            <icon class="upload_image">上传图像</icon>
        </div>
    </div>
</div>

<div class="detail">
    <div class="form-group">
        <%= f.text_area :detail, :class => "form-control" %>
        <span class="error_message"></span>
    </div>
</div>

<div class="actions">
    <a class='btn btn-primary'>提交</a>
</div>
<% end %>

<script type="text/javascript">
$('.upload_image').mouseover(function(){
    $('icon.upload_image').show();
}).mouseout(function(){
    $('icon.upload_image').hide();
})

$('div#step1 #online input.upload_image').change(function(){
    on_upload_image($(this));
})

function on_upload_image(sender) {
    if( !sender.val().match( /.jpg|.jpeg|.gif|.png|.bmp/i ) ){   
        alert('图片格式无效！');   
        return false;   
    }
    var img = sender.parent().children('img')[0];
    if( sender[0].files &&  sender[0].files[0] ){
        img.src = sender.files[0].getAsDataURL();       
    }
}


</script>