<%= form_for([:accounts, @course], :html => {:id => 'online_course', :multipart => true}) do |f| %>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= f.text_field :title, :class => "form-control", :placeholder => "请输入标题" %>
        </div>
        <div class="form-group">
            <%= f.select :category, options_for_select(Course::CATEGORIES, @course.category), {}, {:class => "form-control"} %>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <%= f.text_field 'start_time_date', :value => @course.start_time.try(:to_s, :date) || '', :class => "form-control datetime js-datepicker", :placeholder => "开始时间" %>
            </div>
            <div class="form-group col-md-3">
                <%= f.select 'start_time_hour', options_for_select((0..23).map{|x| [double(x), x]}, @course.start_time.try(:hour) || Time.now.hour), {}, {:class => "form-control"} %>
            </div>
            <div class="form-group col-md-3">
                <%= f.select 'start_time_min', options_for_select((0..59).map{|x| [double(x), x]}, @course.start_time.try(:min) || 0), {}, {:class => "form-control"} %>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <%= f.text_field 'end_time_date', :value => @course.end_time.try(:to_s, :date) || '', :class => "form-control datetime js-datepicker", :placeholder => "结束时间" %>
            </div>
            <div class="form-group col-md-3">
                <%= f.select 'end_time_hour', options_for_select((0..23).map{|x| [double(x), x]}, @course.end_time.try(:hour) || Time.now.hour), {}, {:class => "form-control"} %>
            </div>
            <div class="form-group col-md-3">
                <%= f.select 'end_time_min', options_for_select((0..59).map{|x| [double(x), x]}, @course.end_time.try(:min) || 0), {}, {:class => "form-control"} %>
            </div>
        </div>
        <div class="form-group">
            <%= f.text_field :price, :class => "form-control", :placeholder => "请输入价格" %>
        </div>
        <div class="form-group">
            <%= f.number_field :students_max, :class => "form-control", :placeholder => "可容纳学生数量（可选）" %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="upload_image">
            <div class="ie_preview_wrapper">
                <div class="ie_preview">
                </div>
            </div>
            <img src="<%= @course.image.url %>" class="upload_image" alt="上传图像"/>
            <%= f.file_field :image, :class => "form-control upload_image" %>
            <icon class="upload_image">上传图像</icon>
        </div>
    </div>
</div>

<div class="detail">
    <div class="form-group">
        <%= f.text_area :detail, :class => "form-control" %>
    </div>
</div>

<div class="actions">
    <a class='btn btn-primary'>提交</a>
    <%= f.submit '提交' %>
</div>
<% end %>

<script type="text/javascript">
$(function(){
    $('form#online_course').validate({
        rules: {
            "course[title]": {
                required: true
            },
            "course[category]": {
                required: true
            },
            "course[start_time_date]": {
                required: true
            },
            "course[end_time_date]": {
                required: true
            },
            "course[price]": {
                required: true,
                number: true
            },
            students_max: {

            }
        },
        messages: {
            "course[title]": {
                required: '请输入课程标题'
            },
            "course[category]": {
                required: '请选择课程分类'
            },
            "course[start_time_date]": {
                required: '请填写开始日期'
            },
            "course[end_time_date]": {
                required: '请填写结束日期'
            },
            "course[price]": {
                required: '请填写课程价格',
                number: '请填写具体数字'
            }
        },
        errorPlacement: function(error, element) {
            error.appendTo( element.parent() );
            element.parent().addClass('has-error');
        }
    });
})
</script>