<div class="account_course_show">
    <h3><%= @course.title %></h3>
    <p>
        课程发布状态：
        <% if @course.status != 0 %>
            已发布
            <%= link_to '（取消发布）', accounts_cancel_publish_course_path %>
        <% else %>
            未发布
            <%= link_to "（发布课程）", accounts_publish_course_path %>
        <% end %>
    </p>
    <p>
        开始时间：<%= @course.start_time %>
    </p>

    <div class="row">
        <div class="col-md-9 ">
            <div class="image_wrap">
                <%= image_tag @course.image %>
            </div>
        </div>
        <div class="col-md-3">
            <%= link_to '编辑', edit_accounts_course_path(@course), class: "btn btn-success button_list" %>
            <%= link_to '立即直播', "", class: "btn btn-success button_list" %>
        </div>
    </div>

    <h3>学员信息</h3>
    <%= render partial: 'student_info', locals: {students: @students }%>
</div>
