<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @course.user_id %>
</p>

<%= image_tag @course.image %>

<%= link_to 'Edit', edit_accounts_course_path(@course) %> |
<%= link_to 'Back', accounts_courses_path %>
