<%= content_for :head do %>
  <%= stylesheet_link_tag 'course_detail' %>
<% end %>

<div class="view-content">
    <div class="order_info">
        <table>
            <tr class="table_title">
                <td colspan="3">确认订单信息</td>
                <td>单价（元）</td>
                <td>数量</td>
                <td>小记</td>
                <td></td>
            </tr>
            <tr class="table_info">
                <td>
                    <div class="course_checkbox"><%= check_box_tag :bought, @course.id, true %></div>
                    </td>
                <td class="top course_pic">
                    <div><%= image_tag @course.image.url %></div>
                    </td>
                <td class="top course_details">
                    <div>
                        <div class="course_title"><%= @course.title %></div>
                        <div class="course_type">类型：<%= t @course.course_type, scope: "account" %></div>
                        <div class="course_teacher">讲师：<%= @course.teacher.name %></div>
                        <div class="course_start">开课：<%= @course.start_time.to_s(:china) %></div>
                    </div>
                </td>
                <td class="top"><%= @course.price %></td>
                <td class="top">1</td>
                <td class="top"><%= @course.price %></td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
                <%# TODO 删除全部商品之后是什么样子 %>
            </tr>
        </table>
    </div>
    <div class="payment">
        <table>
            <tr class="id_verify">
                <td class="introduce"><div class="title">身份验证</div></td>
                <td class="content">
                    <div>
                        <label>手机号码：</label><%= text_field_tag :phone %>
                        <button class="btn btn-success course_button" id="get_captcha">获取验证码</button>
                        <label class="real_name">真实姓名：</label><%= text_field_tag :username %>
                    </div>
                    <div>
                        <label>验证码：</label><%= text_field_tag :captcha %> <button class="btn btn-success course_button">确认</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="introduce"><div>支付方式</div></td>
                <td class="content">
                    <%# TODO 增加支付方式 %>
                    <div>
                        <div>
                            <%= radio_button_tag :pay_method, "alipay", true %><%= image_tag "zhifubao.jpg" %>
                        </div>
                    </div>
                    <div>
                        <span class="total_title">实付金额：</span><span class="total_content">&#165; <%= @course.price %></span>
                    </div>
                    <div>
                        <%= check_box_tag :agree %> 我已经阅读并同意<%= link_to "《收费课程服务协议》", "/",
                                                                        class: "agreement" %>
                    </div>
                    <div>
                        <button class="btn btn-warning go_pay">去支付</button>
                        <div class="pay_tips">
                            <p>下单后，请在 1 小时内完成支付。</p>
                            <p>超出 1 小时再支付可能导致购买失败，需要重新下单购买。</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="payment_tips">
    </div>
    <div class="content" style="height:800px; margin:0px;">
        <%= render :partial => 'form', :locals => {id: 'account_order_new_form'} %>
    </div>
</div>
<%= javascript_include_tag "course_detail" %>
