<div role="tabpanel" class="tab-pane active" id="live_courses">
    <div id="slidable-live-courses" class="carousel slide slidable-coureses" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#slidable-live-courses" data-slide-to="0" class="active"></li>
            <li data-target="#slidable-live-courses" data-slide-to="1"></li>
            <li data-target="#slidable-live-courses" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="row">
                    <div class="col-lg-3 col-lg-offset-1">
                        <div class="thumbnail">
                            <%= image_tag("3.jpg") %>
                            <div class="caption">
                                <p>讲师：韦小宝</p>
                                <p>开课时间：清朝雍正年间</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="thumbnail">
                            <%= image_tag("3.jpg") %>
                            <div class="caption">
                                <p>讲师：韦小宝</p>
                                <p>开课时间：清朝雍正年间</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="thumbnail">
                            <%= image_tag("3.jpg") %>
                            <div class="caption">
                                <p>讲师：韦小宝</p>
                                <p>开课时间：清朝雍正年间</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-lg-3 col-lg-offset-1">
                        <div class="thumbnail">
                            <%= image_tag("3.jpg") %>
                            <div class="caption">
                                <p>讲师：韦小宝</p>
                                <p>开课时间：清朝雍正年间</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="thumbnail">
                            <%= image_tag("3.jpg") %>
                            <div class="caption">
                                <p>讲师：韦小宝</p>
                                <p>开课时间：清朝雍正年间</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="thumbnail">
                            <%= image_tag("3.jpg") %>
                            <div class="caption">
                                <p>讲师：韦小宝</p>
                                <p>开课时间：清朝雍正年间</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#slidable-live-courses" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#slidable-live-courses" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
