<div class="col-md-12 payout">
  <table class="table table-bordered">

    <thead>
    <tr>
      <th>序号</th>
      <th>用户ID</th>
      <th>客户姓名</th>
      <th>支付宝账号</th>
      <th>提取现金</th>
      <th>申请时间</th>
      <th>处理时间</th>
      <th>立刻处理</th>
    </tr>
    </thead>

    <tbody>
    <% @cashes.each do |cash| %>
        <tr>
          <td><%= cash.id %></td>
          <td><%= cash.user_id %></td>
          <td><%= cash.name %></td>
          <td><%= cash.alipay_account %></td>
          <td><%= cash.sum %></td>
          <td><%= cash.created_at %></td>
          <td>
            <% if !cash.finished %>
                无
            <% else %>
                <%= cash.updated_at %>
            <% end %>
          </td>

          <td>
            <% if cash.finished %>
                <%= link_to '已经处理', edit_admin_alipay_path(cash),:class => 'btn btn-default', :role => 'button' %>
            <% else %>
                <%= link_to '完成处理', edit_admin_alipay_path(cash), :class => 'btn btn-info', :role => 'button' %>
            <%end%>

          </td>
        </tr>
    <% end %>
    </tbody>

  </table>
</div>
