<%= javascript_include_tag "lib/jquery.jcrop" %>
<%= stylesheet_link_tag "upload_avatar" %>
<div class="upload_avatar">
  <div class="">
    <h3 class="">上传头像</h3>
  </div>
  <div class="body">
    <div class="row">
      <div class="col-md-6">
        <div class="avatar_preview_wrapper">
          <div class="avatar_preview">
            <%= image_tag "#{current_user.avatar.url}?#{@timestamp}", :class => "avatar_preview", :width => 200 %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <% if notice && notice == '头像上传成功' %>
        <div class="alert alert-info" role="alert">
          <%= notice %>
        </div>
        <% end %>
        <%= form_for(current_user, :url => accounts_upload_avatar_path, :html => {:id => "upload_avatar", :multipart => true}) do |f| %>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <%= f.label :avatar, '选择文件', class: 'btn btn-info' %>
            </span>
            <%= f.file_field :avatar, class: "form-control", id: "avatar" %>
          </div>
        </div>

        <div class="form-group text-right">
          <%= f.submit '更新头像', class: 'btn btn-danger' %>
        </div>

        <div style="width:100px;height:100px;overflow:hidden;">
          <%= image_tag "#{current_user.avatar.url}?#{@timestamp}", :id => "crop_preview" %>
        </div>
        <%= f.hidden_field :avatar_x, :id => :avatar_x %>
        <%= f.hidden_field :avatar_y, :id => :avatar_y %>
        <%= f.hidden_field :avatar_w, :id => :avatar_w %>
        <%= f.hidden_field :avatar_h, :id => :avatar_h %>

        <% end %>
      </div>
    </div>
  </div>

  <div class="panel-footer bg-warning">
    <%= button_to "删除头像", accounts_upload_avatar_path, data: { confirm: "是否确定删除头像？" }, class: 'btn btn-warning', method: :delete %>
  </div>
</div>

<script type="text/javascript">
var jcrop_api;
var img = $('img.avatar_preview')[0];
img.onload = function () {
  $('#fw').val(img.naturalWidth);
  $('#fh').val(img.naturalHeight);
  $('img.avatar_preview').removeAttr("width").removeAttr("height").removeAttr("style").css("width", "200px");
  crop_image();
}
var ie_preview_wrapper = $('div.avatar_preview_wrapper');
var ie_preview = $('div.avatar_preview');


function crop_image() {
  if (typeof jcrop_api != 'undefined') { jcrop_api.destroy(); }
  var iw = $('img.avatar_preview').width();
  var ih = $('img.avatar_preview').height();

  $('div.avatar_preview').css({width: iw+"px", height: ih+"px"})

  $('#iw').val(iw);
  $('#ih').val(ih);

  var min_value = Math.min(iw, ih);

  $('img.avatar_preview').Jcrop({
    onChange: showPreview,
    onSelect: showPreview,
    aspectRatio: 1
  }, function(){
    jcrop_api = this;
    jcrop_api.setSelect([0, 0, min_value, min_value]);
  });
}

function showPreview(coords) {

  $('#avatar_x').val(coords.x);
  $('#avatar_y').val(coords.y);
  $('#avatar_w').val(coords.w);
  $('#avatar_h').val(coords.h);

  var rx = 100 / coords.w;
  var ry = 100 / coords.h;
  var bounds = jcrop_api.getBounds();

  $('#crop_preview').css({
    width:  Math.round(rx * bounds[0]) + 'px',
    height: Math.round(ry * bounds[1]) + 'px',
    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
    marginTop:  '-' + Math.round(ry * coords.y) + 'px'
  });
}

$(function(){

  $('input#avatar').change(function(){
    if( !$(this).val().match( /.jpg|.jpeg|.gif|.png/i ) ){
      alert('图片格式无效！');
      return false;
    }

    if( $(this)[0].files && $(this)[0].files[0] ){
      img.src = $('img#crop_preview')[0].src = window.URL.createObjectURL($(this)[0].files[0]);
    } else if( ie_preview[0].filters ) {
      $('img.avatar_preview').hide();
      $(this).select();
      $(this).blur();
      var path = document.selection.createRange().text;
      ie_preview[0].filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = path;
    }
  })
/*
  $('form#upload_avatar').validate({
    rules: {
      "user[avatar]": {
        required: true
      }
    },
    messages: {
      "user[avatar]": {
        required: '请选择文件'
      }
    },
    highlight: function(element) {
      $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
    },
    unhighlight: function(element) {
      $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
    },
    errorPlacement: function(error, element) {
      error.appendTo( element.parent() );
    }
  });
*/
})
</script>
