<div class="row">
  <div class="col-md-7">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">账户设置</h3>
      </div>
      <div class="panel-body">
        <%= form_for(current_user, url: registration_path(:user), html: { method: :put }) do |f| %>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <%= f.label :email, '电子邮件', class: 'btn btn-info' %>
            </span>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <%= f.label :username, '用户姓名', class: 'btn btn-info' %>
            </span>
            <%= f.email_field :username, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <%= f.label :phone, '联系电话', class: 'btn btn-info' %>
            </span>
            <%= f.email_field :phone, class: "form-control" %>
          </div>
        </div>

        <div class="form-group actions">
          <%= f.submit '提交', class: 'btn btn-danger' %>
        </div>
        <% end %>
      </div>

      <div class="panel-footer text-right">
        <%= button_to "删除账户", registration_path(:user), data: { confirm: "Are you sure?" }, class: 'btn btn-warning', method: :delete %></p>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <a href="#" class="thumbnail">
      <img src="<%= current_user.avatar.url %>">
    </a>
  </div>
</div>