<% content_for :head do %>
  <%= stylesheet_link_tag "search" %>
<% end %>

<div class="view-container">
  <div class="title">
    <h1><%= @title %></h1>

    <select name="category-filter" id="search-category-filter">
      <option value="art">Art</option>
      <option value="cooking">Cooking</option>
    </select>
  
    <div class="sort-wrapper">
      Sort by
      <select name="search-sort" id="">
        <option value="b">Best match</option>
        <option value="t">Soonest available</option>
        <option value="p">Lowest price</option>
      </select>
    </div>
  </div>

  <div class="course-container">
    <div class="course-card">
      <%= image_tag "category-course.jpg", class: "course-image" %>
      <%= image_tag "people-7.png", class: "course-teacher" %>
      <div class="course-intro">
        <h2 class="course-intro-title">
          Fresh Food Presention: home canning, Friday
        </h2>
        <p>Janet Cassidy • Cooking</p>
        <p class="course-intro-content">Enjoy the flavor of summer all year! Learn to preserve your favorite fresh foods at the peak of flavor...</p>
        <% 5.times do %>
          <span class="glyphicon glyphicon-star green"></span>
        <% end %>
      </div>
      <div class="course-time-price">
        <div class="course-time">
          Next course is on
          <br />
          <time>2014-12-31</time>
        </div>
        <div class="course-price">
          $19.99
        </div>
      </div>
    </div>
  </div>
  
  <div class="course-container more-card">
    <div class="course-card">
      <%= image_tag "category-course-image.png", class: "course-image" %>
      <%= image_tag "people-6.jpg", class: "course-teacher" %>
      <div class="course-intro">
        <h2 class="course-intro-title">
          Fresh Food Presention: home canning, Friday
        </h2>
        <p>Janet Cassidy • Cooking</p>
        <p class="course-intro-content">Enjoy the flavor of summer all year! Learn to preserve your favorite fresh foods at the peak of flavor enjoy the flavor of summer all year.</p>
        <% 5.times do %>
          <span class="glyphicon glyphicon-star green"></span>
        <% end %>
      </div>
      <div class="course-time-price">
        <div class="course-time">
          Next course is on
          <br />
          <time>2014-12-31</time>
        </div>
        <div class="course-price">
          $19.99
        </div>
      </div>
    </div>
  
    <div class="more-course">
      <%= image_tag "more-course-image.jpg" %>
      <div class="more-course-intro">
          <h2 class="course-intro-title">
            Fresh Food Presention: home canning, Friday
          </h2>
          <p class="course-intro-content">Enjoy the flavor of summer all year! Learn to preserve your favorite fresh foods at the peak of flavor...</p>
      </div>
      <div class="course-price">
        $19.99
      </div>
    </div>
  
    <div class="more-course">
      <%= image_tag "more-course-image.jpg" %>
      <div class="more-course-intro">
          <h2 class="course-intro-title">
            Fresh Food Presention: home canning, Friday
          </h2>
          <p class="course-intro-content">Enjoy the flavor of summer all year! Learn to preserve your favorite fresh foods at the peak of flavor...</p>
      </div>
      <div class="course-price">
        $19.99
      </div>
    </div>

    <div class="more-course-link">
      <%= link_to "View more listing" %>
    </div>
  </div>

  <div class="page-nav">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">7</a>
  </div>
</div>

