<%= stylesheet_link_tag "chat"%>
<div class="bigger_container">
    <div class="live_left">
    </div>
    <div class="live_middle">
        <div class="title">
            <h4>
                <%= @course.title %>
            </h4>
        </div>
        <div class="live_video">
            <div id="stream-player"></div>
        </div>

        <div class="left_side">
            <div class="section">
                <h4>课程介绍</h4>
                <%= sanitize @course.detail %>
                <h5>课程介绍</h5>
                <%# TODO fake date  %>
                <div class="chapter">
                    <div class="chapter_item">
                        <div class="chapter_icon">x</div>
                        <div class="chapter_right">
                            <% if @sections %>
                                <% @sections.each_with_index  do |s, i| %>
                                    <div class="chapter_title"><%= "第#{i+1}章 #{s.name}"%></div>
                                    <% s.lessons.each_with_index  do |lesson, index|%>
                                        <div class="lesson">
                                            <%= link_to lesson.title, "/lesson/#{lesson.id}" %>
                                        </div>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section">
                <h4>评价</h4>
                <div class="computed">
                    <%= form_tag "/accounts/courses/review" do %>
                        <%= hidden_field_tag :score, 5 %>
                        <%= hidden_field_tag :course_id, @course.id %>
                        <div class="comment_user">
                            <%# TODO fake %>
                            <div class="avatar_wrap">
                                <%= image_tag "people-1.jpg" %>
                            </div>
                        </div>
                        <div class="comment_body">
                            <div class="grade">
                                满意程度
                            <span class="stars">
                                <% 5.times do %>
                                    <span class="glyphicon glyphicon-star green"></span>
                                <% end %>
                            </span>
                                5 好评
                            </div>
                            <%= text_area_tag :course_review %>
                        </div>
                        <div class="clear"></div>
                        <div>
                            <div class="share_tag">
                                <%# TODO %>
                            </div>
                            <%= submit_tag "提交", class: "btn btn-sm btn-success", id: "submit" %>
                        </div>
                    <% end %>
                    <div class="clear"></div>
                </div>

                <div>
                    <!--table class="cate">
                        <tr>
                            <td class="by_starts">按热门</td>
                            <td>按时间</td>
                        </tr>
                    </table-->
                </div>
                <% @reviews.each do |r|%>
                    <%= render partial: "review", locals: {r: r}%>
                <% end %>
            </div>
        </div>
        <div class="right_side">
            <div class="section">
                <div class="">
                    <div class="teacher_avatar">
                        <div class="avatar_wrap avatar_big">
                            <%= image_tag "people-1.jpg" %>
                        </div>
                    </div>
                    <div class="teacher_info">
                        <div class="teacher_name"><%= @course.teacher.name %></div>
                        <div class="teacher_job"><%= @course.teacher.job %></div>
                    </div>
                    <div class="teacher_intro">
                        <%= @teacher.introduce %>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="student_title"><span class="count">98</span>人在学习该课程</div>
                <div class="student_info">
                    <div class="avatar_list">
                        <% 12.times do %>
                            <div class="avatar_wrap">
                                <%= image_tag "people-1.jpg" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="live_right">
        <div class="comments_pane"></div>
        <div class="g_comments">
            <%= text_field_tag :comment, nil, class: "form-control" %>
            <%= submit_tag "评论", class: "btn btn-success btn-sm", id: "send_message" %>
        </div>
    </div>
</div>
<script id="comment_template" type="text/x-jquery-tmpl">
        <div class="comment_item">
            <div class="up">
                <span class="username">${username}</span>
                <span class="time">${created_at}</span>
            </div>
            <div class="down">
                <div class="comment_content">${content}</div>
            </div>
        </div>
</script>
<%= javascript_include_tag "http://#{Settings.chat_server}:9292/faye/faye.js"%>
<%= include_gon %>
<%= javascript_include_tag "chat"%>
