<header>
    <div class="header-top">
        <b>Introducing Helpouts on Partner Sites -- </b>
        A new way to get expert Help and advice when you need it most.
        <%= link_to "Learn more", "" %>
    </div>

    <div class="header-nav">
        <div class="header-nav-left">
            <a href="<%= home_path %>">
                <%= image_tag "logo.png", class: "logo" %>
                <button type="button" class="btn btn-link"><strong>人人讲堂</strong></button>
            </a>

            <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button"
                        id="browsehelpouts" data-toggle="dropdown" aria-expanded="true">
                    <%= image_tag "home.png" %>
                    发现课程
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="browsehelpouts">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">
                            <%= image_tag "home.png" %>
                            Home
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="<%= category_path %>">
                            <%= image_tag "cooking.png" %>
                            Cooking
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="<%= category_path %>">
                            <%= image_tag "art.png" %>
                            Art
                        </a>
                    </li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button"
                        id="yourhelpouts" data-toggle="dropdown" aria-expanded="true">
                    <%= image_tag "helpout.png" %>
                    我的课程
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="yourhelpouts">
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="/accounts/student/learning">我学的课</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="#">我教的课</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="#">xxxxxx</a></li>
                </ul>
            </div>

        </div>

        <div class="header-nav-right">
            <a href="<%= teach_path %>" id="teach">
                <button type="button" class="btn bg-green">我要教课</button>
            </a>
            <% if user_signed_in? %>
                <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        <%= current_user.username %>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <%= link_to "退出", "/accounts/sign_out", method: "delete" %>
                        </li>
                    </ul>
                </span>

            <% else %>
                <%= link_to "登录", "/accounts/sign_in", class:"btn btn-link" %>
                <%= link_to "注册", "/accounts/sign_up", class: "btn btn-link" %>
            <% end %>
        </div>
    </div>
</header>
