<div class="list-group">
  <span class="list-group-item">
    <%= link_to image_tag(current_user.avatar.url.start_with?('/assets/') ? current_user.avatar.url.split('/')[2..-1].join('/') : current_user.avatar.url, :class => 'avatar', :width => 200), account_upload_avatar_path %>
  </span>
  <%= link_to '个人设置', edit_user_registration_path, :class => "list-group-item" %>
  <%= link_to '修改密码', edit_user_registration_path, :class => "list-group-item" %><!-- TODO -->
  <a href='<%= new_accounts_course_path %>' class='list-group-item<% if controller_name == 'courses' and action_name == 'new' %> active<% end %>'>我要教课</a>
  <%= link_to '学堂管理', accounts_courses_path, :class => "list-group-item" %>
  <%= link_to '我的收入', '', :class => "list-group-item" %>
</div>