<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "教育直播" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "accounts", :media => "all" %>
  <%= javascript_include_tag "accounts" %>
</head>
<body>
  <%#= bootstrap_flash %>
  <%= render "layouts/header.html.erb" %>

  <div class="container our_container">

    <div class="row">
      <div class="col-md-3 sidebar">
        <%= render "layouts/sidebar_teacher.html.erb" %>
      </div>
      <div class="col-md-9 content">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "layouts/footer.html.erb" %>

</body>
</html>